@page "/"
@using SmartHub.UI.Components;
@using SmartHub.Models;
@inject SmartHubDbContext Db;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<SalutoComponent @rendermode="InteractiveAuto"/>

Welcome to your new IoT Devices Dashboard.

<div class="row">
    @foreach (var d in devices) {
        <div class="col-md-4">
            <IoTDeviceCardComponent Device="d" OnToggle="() => Save(d)" @rendermode="InteractiveServer"/>
        </div>
    }
</div>

@code {
    List<IoTDevice> devices = new();
    protected override async Task OnInitializedAsync() => devices = Db.IoTDevices.ToList();
    async Task Save(IoTDevice d) { 
        d.IsOn = !d.IsOn; 
        await Db.SaveChangesAsync(); 
    }
}
